body {
  font-family: 'Plus Jakarta Sans';
  background-color: #F6F7F9;
  font-size: 22px;
  margin: 0;
  padding-bottom: 30px;
}
.navbar-top{
  background-color:  white;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
}

.menu{
  display: flex;
}

.logo {
  font-size: 24px;
  color: #306EF6;
  font-weight: bold;
}
.navbar .search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #f9f9f9;
}
.navbar .search-bar input {
  border: none;
  outline: none;
  background: none;
  padding: 5px;
  font-size: 14px;
  width: 200px;
}

.main{
  margin: 0px 40px;
  overflow: hidden;
}

.search-bar-mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 15px;
}

.search-bar-mobile div{
  border: 1px solid #C3D4E966;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #f9f9f9;
  width: 70vi;
  padding: 10px;
  gap: 15px;
}

.search-bar-mobile input{
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
}

.search-bar-mobile #img1 {
  border: 1px solid;
  padding: 10px;
  border-radius: 2px;
  border-color: #C3D4E966;
}

.ads{
  display: flex;
  width: 100%;
  margin-top: 40px;
  flex-wrap: wrap;
}

.ads1 {
  display: flex;
  flex:1;
  flex-direction: column;
  height: 300px;
  background-color: #54A6FF;
  background-image: url('/img/ads1-car.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  row-gap: 20px;
}

.font1 {
  font-size: 32px;
  color: white;
  max-width: 50%;
  font-weight: bold;
  margin: 0px;
}
  
.font2 {
  font-size: 16px;
  max-width: 50%;
  color: white;
}

.ads1 .ads-button {
  height: 44px;
  width: 120px;
  border: none;
  color: white;
  background-color: #3563E9;
  border-radius: 5px;
}

.ads2{
  display: flex;
  flex:1;
  flex-direction: column;
  height: 300px;
  background-color: #3563E9;
  background-image: url('/img/ads2-car.png');
  background-repeat: no-repeat;
  background-position-y: 95%;
  background-position-x: 50%;
  border-radius: 15px;
  padding: 20px;
  row-gap: 20px;
}

.ads2 .ads-button {
  height: 44px;
  width: 120px;
  border: none;
  color: white;
  background-color: #54A6FF;
  border-radius: 5px;
}

.pick-up {
  display: flex;
  align-items: center;  
  flex-wrap: wrap;
}

.pick-up-container {
  flex: 1;
  padding: 20px 10px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: white;
}

.pick-up-header {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  gap: 10px;
}

.pick-up-options {
  display: flex;
  align-items: center;
}

.option {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 10px;
}

.option label {
  font-size: 14px;
  font-weight: bold;
  color: #1F2937;
  margin-bottom: 5px;
}

.option select {
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #90A3BF;
  padding: 5px 0;
  appearance: none;
}

.option select:focus {
  outline: none;
}

.divider {
  height: 50px;
  width: 1px;
  background-color: #E5E7EB;
}

.swap-button {
  display: flex;
  border-radius: 10px;
  background: #3563E9;
  margin: auto 30px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(19, 156, 241, 0.014), 0 6px 20px 0 #10329347;
}

.popular-car-heading{
  justify-content: space-between;
  display: flex;
  font-size: 16px;
  color: #90A3BF;
  padding: 20px;
}

.popular-car-heading #view-all{
  color: #3563E9;
}

.popular-table{
  /* margin: 0px 10px; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px
}

.recommendation-table{
  margin: 0px 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
}

.car-card{
  width: 304px;
  height: 388px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  padding: 20px 15px;
}

.car-card #car-name{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

#car-name img{
  height: 30px;
  width: 30px;
}

.car-card #car-type{
  font-size: 14px;
  color: #90A3BF;
}


.car-card img{
  width: 232px;
  padding-left: 20px;
}

.car-info-image-desc{
  display: flex;
  align-items: end;
  justify-content: space-around;
}
.car-info {
  font-size: 14px;
  display: flex;
  color: #90A3BF;
  text-align: center;
}

.car-info img{
  color: #90A3BF;
  height: 24px;
  width: 24px;
}
p{
  margin: 0;
}
.car-info .gasstation1,.manual1,.people1{
  display: flex;
  text-align: center;
  gap:6px;
}

#car-price{
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
  align-items: center;
}

#car-price .rent-button{
  background-color: #306EF6;
  border: none;
  height: 44px;
  width: 116px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.car-card-img-desc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.show-more-row {
  display: flex;
  align-items: center;
  margin: 40px;
  justify-content: center;
}

.show-more-button{
  width:156px;
  height: 44px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #3563E9;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

#more-car{
  color: #90A3BF;
  font-size: 14px;
  position: absolute;
  right: 60px;
}

.footer{
  background-color: white;
  padding: 80px 60px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.footer .logo{
  padding-bottom: 20px;
}

.footer #description{
  font-size: 16px;
  color: #13131399;
}

.footer #footer-table{
  border-spacing: 70px 0px;
  border-collapse: separate;
}

.footer .table-container #about-col th{
  font-size: 20px;
  padding-bottom: 40px;
  font-weight: bold;
  color: #1A202C;
}

.footer .table-container #about-col td{
  font-size: 16px;
  color: #13131399;
  padding-bottom: 15px;
}

.bottom-fotter1{
  justify-content: space-between;
  display: flex;
  font-weight: bold;
}

.bottom-fotter1,.bottom-fotter2 p{
  font-size: 16px;
  color: #1A202C;
}

.bottom-fotter1 #bottom-rights{
  display: flex;
}

.bottom-fotter1 #bottom-rights p{
  font-size: 16px;
  color: #1A202C;
  padding: 0px 20px 0px 20px;
}

.bottom-fotter2{
  font-weight: bold;
}

.bottom-fotter2 #bottom-rights{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer .table-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table-container #about-col {
  margin: 30px 0px;
}